/* Apply these styles to all elements */
* {
    border: none;
    outline: none;
    box-sizing: border-box;
    transition: all 0.3s ease-in-out;
}


/*   ~   ~   ~   ~   ~   ~   ~   ~   ~   ~   ~   ~   ~   ~   ~   ~   ~   ~   ~   ~   ~   */


/* Defining the animation for showing the error/alert message */
@keyframes show_message {
    from {
        opacity: 80%;
        transform: translateY(200%);
        visibility: visible;
    }
    to {
        opacity: 0;
        transform: translateY(0%);
    }
}

/* Style for the alert message container */
#message {
    position: absolute;
    padding-inline: 2.5%;
    text-align: center;
    border-radius: 1em;
    background-color: rgba(255, 0, 0, 0.2);
    visibility: hidden;
    font-weight: 600;
    box-shadow: 0 0 1.5em rgba(255, 170, 0, 0.2);
}


/*   ~   ~   ~   ~   ~   ~   ~   ~   ~   ~   ~   ~   ~   ~   ~   ~   ~   ~   ~   ~   ~   */


/* Style for the main container */
main {
    width: inherit;
    height: 97vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 0.8em;
    background-color: rgba(188, 244, 255, 0.308);
    box-shadow: 0 0 1em rgba(188, 244, 255, 0.54);
}

/* Style for the QR card container */
#qr-card {
    display: flex;
    padding: 5%;
    width: 50vw;
    max-width: 50em;
    min-height: 40vh;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    border-radius: 2.25em;
    background-image: linear-gradient(to bottom right, rgba(57, 189, 255, 0.834), rgba(110, 97, 255, 0.906));
}


/*   ~   ~   ~   ~   ~   ~   ~   ~   ~   ~   ~   ~   ~   ~   ~   ~   ~   ~   ~   ~   ~   */


/* Style for the form */
form {
    width: 100%;
}

/* Style for the input field */
#inputField {
    border: none;
    box-shadow: 0 0 0.5em rgba(0, 0, 0, 0.172);
    width: 100%;
    max-width: 44em;
    padding: 6%;
    padding-inline: 8%;
    font-size: 100%;
    border-radius: 15em;
}


/*   ~   ~   ~   ~   ~   ~   ~   ~   ~   ~   ~   ~   ~   ~   ~   ~   ~   ~   ~   ~   ~   */


/* Style for the QR image container */
#qrImage {
    margin: 8%;
    height: auto;
    padding: 1%;
    width: 25vw;
    max-width: 480px;
    display: flex;
    justify-content: center;
    background-size: contain;
    border-radius: 5px;
}

/* Style for the image */
img {
    width: 100%;
    height: 100%;
}


/*   ~   ~   ~   ~   ~   ~   ~   ~   ~   ~   ~   ~   ~   ~   ~   ~   ~   ~   ~   ~   ~   */


/* Style for the buttons container */
#buttons {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    height: 15vw;
    max-height: 4.5em;
    margin: 3%;
    padding: 0.1% 8%;
}

/* Style for the generate button */
#generateBtn {
    color: white;
    font-size: 3vmin;
    font-weight: 600;
    width: 60%;
    max-width: 10em;
    max-height: 2.8em;
    padding: 4%;
    padding-inline: 8%;
    border-radius: 15em;
    background-color: rgba(4, 42, 86, 0.691);
    box-shadow: 0 0 0.8em rgba(177, 225, 255, 0.507);
}

/* Style for the generate button when it is active */
#generateBtn:active {
    background-color: rgba(0, 0, 0, 0.83);
    box-shadow: 0 0 1.5em rgba(255, 255, 255, 0.536);
}

/* Style for the download button */
#download {
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url(download.png);
    width: 25%;
    max-width: 4.5em;
}


/*   ~   ~   ~   ~   ~   ~   ~   ~   ~   ~   ~   ~   ~   ~   ~   ~   ~   ~   ~   ~   ~   */


/* Media query for screens with a maximum width of 480px */
@media screen and (max-width: 480px) {
    /* Adjust the style of the QR card container for smaller screens */
    #qr-card {
        display: flex;
        width: 90%;
        max-width: 25em;
        min-height: 65%;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        border-radius: 2.25em;
        background-image: linear-gradient(to bottom right, rgba(57, 189, 255, 0.834), rgba(110, 97, 255, 0.906));
    }

    /* Adjust the style of the QR image container for smaller screens */
    #qrImage {
        margin: 10%;
        padding: 1%;
        width: 80%;
        justify-content: center;
        background-size: contain;
        border-radius: 5px;
    }

    /* Adjust the style of the buttons container for smaller screens */
    #buttons {
        height: 14vw;
        padding: 0;
    }

    /* Adjust the style of the generate button for smaller screens */
    #generateBtn {
        font-size: 4.5vmin;
    }

    /* Adjust the style of the download button for smaller screens */
    #download {
        width: 12.5vw;
    }
}